<section id="brand" class="row">

	<div class="col-md-12">

		<div class="col-md-2">
			<h3 class=heading>&nbsp;&nbsp;&nbsp;
				EVENT</h3>
		</div>

		<div class="col-md-10"></div>

	</div>
	
<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-placement="bottom" data-target="#collapse1"
					style="padding: 5px" data-toggle="tooltip"
					title="Click to Open/Close">
					Filter <span class="caret"></span>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body" style="padding: 20px">

						<div class="col-sm-12">
							<div class="col-sm-2" align="center">
								<label>District</label> <select ng-model="selectedDistrict"
									ng-change="getMandalOnSelect();" class="form-control">
									<option ng-repeat="x in districts" value="{{x.code}}">{{x.state}}</option>
								</select>
							</div>
							<div class="col-sm-1"></div>

							<div class="col-sm-2" align="center">
								<label for="mandal">Mandal</label> <select
									ng-model="selectedMandal" class="form-control"
									ng-change="getGpOnSelect();">
									<option ng-repeat="x in mandal_list" value="{{x}}">{{x}}</option>
								</select>
							</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-2" align="center">
								<label for="city">GP</label> <select ng-model="select_gp"
									class="form-control" ng-change="getVillageOnSelect();">
									<option ng-repeat="x in gp_list" value="{{x}}">{{x}}</option>
								</select>
							</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-2" align="center">
								<label for="city">Village</label> <select
									ng-model="filter.village" class="form-control">
									<option ng-repeat="x in village_list" value="{{x}}">{{x}}</option>
								</select>
							</div>

						</div>
						<div class="col-sm-12" style="margin-top: 20px">
							<hr>
						</div>
						<div class="col-sm-12" style="margin-top: 20px">
							<div class="col-sm-12" align="right" style="padding-top: 25px">
								<a type="button" ng-click="filter();"
									class="btn btn-info btn-sm" data-toggle="tooltip"
									title="Click here to filter the records">Filter</a>
							</div>
						</div>
						<div class="col-sm-12" style="margin-top: 20px"></div>
					</div>
				</div>
			</div>
		</div>
	
	
		<div class="col-md-12">
		<div class="form-group">
			
			<div class="col-md-3">
			<label >Data Concentrator Unit (DCU)</span></label>
				<ui-select tagging tagging-label="('new')"
					ng-model="selected_dcu.name" style="width: 200px;" theme="bootstrap"
					title="Choose a DCU"> <ui-select-match theme="bootstrap"
					placeholder="--Select--">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices
					repeat="selected_dcu in dcu_data | filter: $select.search"
					position='down'>
				<div ng-bind-html="selected_dcu.name | highlight: $select.search"></div>
				</ui-select-choices> </ui-select>
			</div>
		</div>

		<!-- <div class="form-group">
			
			<div class="col-md-3" >
			<label >Events</span></label>
				<ui-select tagging tagging-label="('new')"
					ng-model="selected_dcu.name" style="width: 200px;"
					title="Choose a DCU"> <ui-select-match
					placeholder="--Select--">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices
					repeat="selected_dcu in dcu_data | highlight: $select.search"
					position='down'>
				<div ng-bind-html="selected_dcu.name | highlight: $select.search"></div>
				</ui-select-choices> </ui-select>
			</div>
		</div>
 -->
		<div class="form-group">
			
			<div class="col-md-3">
			<label>Date range</span></label>
				<input date-range-picker id="daterange3" name="daterange3"
					class="form-control date-picker" type="text"
					ng-model="datePicker.date" options="opts" required />

			</div>
		</div>

	<div class="col-sm-3" align="right" style="padding-top: 20px" >
		<a type="button" ng-click="showdate(gateway_identifier);" class="btn btn-info btn-sm"
			ng-model="searchFish" data-toggle="tooltip"
			title="Click here to filter the records">View</a>
			
		<a type="button" ng-click="export_events(gateway_identifier);"  class="btn btn-info btn-sm"
			data-toggle="tooltip" title="Click here to filter the records">Export</a>
	</div>

	</div>

	<div class="col-md-12" style="margin-top: 20px">

		<table class="table table-bordered">

			<thead>
				<tr class=table_head>



					<td align="center"><a>SI NO</a></td>
					<td align="center"><a
						ng-click="sortType = 'id'; sortReverse = !sortReverse"> Data Concentrator Unit (DCU) name<span
							ng-show="sortType == 'id' && !sortReverse"
							class="fa fa-caret-down"></span> <span
							ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
					</a></td>


					<td align="center"><a
						ng-click="sortType = 'time_stamp'; sortReverse = !sortReverse">
							Time Stamp <span
							ng-show="sortType == 'time_stamp' && !sortReverse"
							class="fa fa-caret-down"></span> <span
							ng-show="sortType == 'time_stamp' && sortReverse"
							class="fa fa-caret-up"></span>
					</a></td>


					<td align="center"><a
						ng-click="sortType = 'event_data'; sortReverse = !sortReverse">
							Event Data <span
							ng-show="sortType == 'event_data' && !sortReverse"
							class="fa fa-caret-down"></span> <span
							ng-show="sortType == 'event_data' && sortReverse"
							class="fa fa-caret-up"></span>
					</a></td>


				</tr>
			</thead>

			<tbody >
				<tr
					ng-repeat="obj in list | orderBy:sortType:sortReverse | filter:searchFish">
					<td align="center">{{ $index + 1 }}</td>
					<td align="center">{{ obj.gateway_serial_number }}</td>
					<td align="center">{{ obj.time_stamp }}</td>
					<td align="center">{{ obj.event_data }}</td>




				</tr>
			</tbody>
		</table>



	</div>

	<div class="col-md-12" align="center">
		<pagination boundary-links="true" max-size="3"
			items-per-page="itemsPerPage" total-items="todos.length"
			ng-model="currentPage" ng-change="pageChanged()"></pagination>
	</div>
</section>
