
<section id="brand" class="row">

	<div class="col-md-12">

		<div class="col-md-2" align="left">
			<h3 class=heading>&nbsp;&nbsp;&nbsp;
				NODE</h3>
		</div>
		<div class="col-md-6"></div>
		<!-- <div class="col-md-2" align="right">
			<br> <a type="button" ng-click="add();"
				class="btn btn-info btn-sm	">Add New NODE</a>
		</div> -->
		
		<div class="col-md-2">
			<div class="input-group add-on" style="padding: 18px">
				<input class="form-control" ng-model="searchFish" />
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<i class="fa fa-search"></i>
					</button>
				</div>

			</div>

		</div>
	</div>

	<div class="col-md-12">
		<table class="table table-bordered">

			<thead>
				<tr class=table_head>



					<td align="center"><a>SI NO</a></td>

					<td align="center"><a
						ng-click="sortType = 'nodeid'; sortReverse = !sortReverse">
							Nodeid <span ng-show="sortType == 'nodeid' && !sortReverse"
							class="fa fa-caret-down"></span> <span
							ng-show="sortType == 'nodeid' && sortReverse" class="fa fa-caret-up"></span>
					</a></td>
					<td align="center"><a
						ng-click="sortType = 'type'; sortReverse = !sortReverse">
							Type  <span
							ng-show="sortType == 'type' && !sortReverse"
							class="fa fa-caret-down"></span> <span
							ng-show="sortType == 'type' && sortReverse"
							class="fa fa-caret-up"></span>
					</a></td>

					<td align="center"><a
						ng-click="sortType = 'sub_type'; sortReverse = !sortReverse">
							 Sub Type  <span
							ng-show="sortType == 'sub_type' && !sortReverse"
							class="fa fa-caret-down"></span> <span
							ng-show="sortType == 'sub_type' && sortReverse"
							class="fa fa-caret-up"></span>
					</a></td>

						<td align="center"><a
						ng-click="sortType = 'reserved'; sortReverse = !sortReverse">
							Reserved <span ng-show="sortType == 'reserved' && !sortReverse"
							class="fa fa-caret-down"></span> <span
							ng-show="sortType == 'reserved' && sortReverse" class="fa fa-caret-up"></span>
					</a></td>
					<td align="center"><a
						ng-click="sortType = 'slave_id'; sortReverse = !sortReverse">
							Slave ID  <span
							ng-show="sortType == 'slave_id' && !sortReverse"
							class="fa fa-caret-down"></span> <span
							ng-show="sortType == 'slave_id' && sortReverse"
							class="fa fa-caret-up"></span>
					</a></td>

					<td align="center"><a
						ng-click="sortType = 'io_channel_1'; sortReverse = !sortReverse">
							 IO CHANNEL 1   <span
							ng-show="sortType == 'io_channel_1' && !sortReverse"
							class="fa fa-caret-down"></span> <span
							ng-show="sortType == 'io_channel_1' && sortReverse"
							class="fa fa-caret-up"></span>
					</a></td>
					
						<td align="center"><a
						ng-click="sortType = 'io_channel_2'; sortReverse = !sortReverse">
							IO CHANNEL 2 <span ng-show="sortType == 'io_channel_2' && !sortReverse"
							class="fa fa-caret-down"></span> <span
							ng-show="sortType == 'io_channel_2' && sortReverse" class="fa fa-caret-up"></span>
					</a></td>
					
					<td align="center"><a
						ng-click="sortType = 'io_channel_3'; sortReverse = !sortReverse">
							IO CHANNEL 3<span
							ng-show="sortType == 'io_channel_3' && !sortReverse"
							class="fa fa-caret-down"></span> <span
							ng-show="sortType == 'io_channel_3' && sortReverse"
							class="fa fa-caret-up"></span>
					</a></td>

					
					<!-- <td align="center"><a>ACTION</a></td> -->

				</tr>
			</thead>

			<tbody>
				<tr
					ng-repeat="obj in list | orderBy:sortType:sortReverse | filter:searchFish">
					<td align="center">{{ $index + 1 }}</td>
					<td align="center">{{ obj.nodeid }}</td>
					<td align="center">{{ obj.type}}</td>
					<td align="center">{{ obj.subtype}}</td>
					<td align="center">{{ obj.reserved }}</td>
					<td align="center">{{ obj.slaveid}}</td>
					<td align="center">{{ obj.io_channel_1}}</td>
					<td align="center">{{ obj.io_channel_2 }}</td>
					<td align="center">{{ obj.io_channel_3}}</td>
					



					<!-- <td align="center"><md-icon class="material-icons"
							ng-click="update(obj);" data-toggle="tooltip"
							title="Update DCU Details"
							style="color:#607D8B;font-size: 20px; height: 20px">edit</md-icon>

						<md-icon class="material-icons" ng-click="deleteconf(obj.nodeid);"
							data-toggle="tooltip" title="Delete DCU "
							style="color:#F44336;font-size: 20px; height: 20px">delete</md-icon>
					</td> -->
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-12" align="center">
		<pagination boundary-links="true" max-size="3"
			items-per-page="itemsPerPage" total-items="todos.length"
			ng-model="currentPage" ng-change="pageChanged()"></pagination>
	</div>
	</div>
</section>
