
<style>
.hero-image {
	background-image: url("images/background.jpg");
	background-color: #cccccc;
	height: 654px;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 90px
}

.hero-text {
	text-align: center;
	color: white;
}
</style>


		<div class="hero-image" ng-controller="loginControllers">
		<div class="hero-text">
			<div class="col-sm-12" >
				<div class="col-sm-8"></div>
				<div class="ccms-login-width" align="right">
					<div class="ccms-login-panel">
						<div class="ccms-login-heading" align="left"> <span class="fa fa-lock"></span>&nbsp;Login</div>
						<br>
						<div class="panel-body">
								<form name="loginForm" class="form-horizontal" novalidate ng-submit="login(loginForm)">
								<div class="form-group">
											<label for="login-user" class="col-md-4 " style="padding-right:47px" align="left"><b>User
										Id</b> </label>
									<div class="col-md-8">
												<input id="login-user" type="email" autocomplete="username" class="form-control" placeholder="User Id"
													ng-model="user.name" required>
									</div>
								</div>

								<div class="form-group">
											<label for="login-password" class="col-md-4 " style="padding-right:30px"><b>Password</b></label>
									<div class="col-md-8">
												<input id="login-password" type="password" autocomplete="current-password" required name="password" class="form-control"
											placeholder="Password" ng-model="user.password"
											required="required">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6">
										<md-checkbox ng-model="user.rememberMe">
										&nbsp;&nbsp;&nbsp;&nbsp;<label
											style= font-size: 15px; height: 8px"><b>Remember
											me</b></label> <br>
									</div>
									<div class="col-sm-5">
										<div align="right" style="padding-right: 10px">
													<button type="submit" ng-disabled="isSubmitting || loginForm.$invalid"
													class="btn btn-info btn-sm">&nbsp;SIGN IN&nbsp;</button>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<br>
								</div>
							</form>
						</div>
                            <div class="public-monitor-back-row" align="center">
                                <button type="button" class="btn btn-default btn-sm" ng-click="backToPublicMonitor()">
                                    <span class="fa fa-arrow-left"></span>&nbsp;BACK TO PUBLIC MONITOR
                                </button>
                            </div>
							<div class="panel-footer" align="left" style="border-color: #8bc34a">Forgot password? Contact your administrator.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
